<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../geo-location/geo-location.html">
<link rel="import" href="../google-map/google-map.html">
<link rel="import" href="../core-ajax/core-ajax.html">

<polymer-element name="map-stores-mexico" attributes="">
  <template>
    <link rel="stylesheet" href="map-stores-mexico.css">
    
    <geo-location latitude="{{alat}}" longitude="{{alng}}"></geo-location>
    <google-map latitude="{{alat}}" longitude="{{alng}}" zoom="16">
      <google-map-marker id="usermarker" latitude="" longitude="" title="user"></google-map-marker>
      <template repeat="{{ s in stores}}">
        <google-map-marker latitude="{{s.lat}}" longitude="{{s.lng}}" title={{s.name}} icon="/res/img/tienda.png"></google-map-marker>
      </template>
    </google-map>
    
    <core-ajax id="getAjax"
    url="/geolocate/establishment/12/12"
    handleAs="json"
    on-core-response="{{drawMarkers}}"></core-ajax>
    
    <content></content>
  </template>

  <script>
    Polymer('map-stores-mexico', {
      
      attr: '',
      
      drawMarkers: function(e, res){
        
        this.stores = res.response;
        
      },

      ready: function() {
        navigator.geolocation.getCurrentPosition(showPosition);
        function showPosition(position){
          document.querySelector("map-stores-mexico").$.getAjax.go();
          document.querySelector("map-stores-mexico").$.usermarker.latitude = position.coords.latitude;
          document.querySelector("map-stores-mexico").$.usermarker.longitude = position.coords.longitude;
        }
      },

      attrChanged: function() {
      }
    });
  </script>
</polymer-element>
