
body {
  font-family: RobotoDraft, sans-serif;
  color: #333;
  margin: 0;
  background-color: #C7DCDB;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

section {
  margin: 20px;
}

a, a:hover {
  text-decoration: none;
}

core-toolbar {  
  border-radius: 14px;
  background-color: #455ede;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1.5em;
  margin-top: 1em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

paper-button {
  margin: 0.5em 1em 0.5em 0;
  width: 10em;
}

paper-button[right] {
  position: fixed;
  right: 0;
}

paper-checkbox {
  margin-left: 1em;
}

paper-fab {
  position: absolute !important;
  top: 35px;
  right: 1em;
  z-index: 1;
}

paper-tabs {
  background-color: #5677fc;
  color: #fff;
}

paper-tabs[noink][nobar] paper-tab.core-selected {
  color: #ffff8d;
}

.chip-container {
        position: absolute;
        top: 275px;
        right: 0;
        left: 0;
        text-align: center;
      }

      .chip {
        display: inline-block;
        position: relative;
        border-radius: 3px;
        margin: 4px;
        overflow: hidden;
        text-align: start;
        background-color: #fff;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
      }

      .chip-top {
        width: 200px;
        height: 200px;
      }

      .chip-bottom {
        padding: 8px;
        line-height: 1.5;
      }

      .chip-album-title {
        font-weight: bold;
      }

      #details {
        padding: 200px 10% 0;
      }

      .card {
        height: 400px;
        border-radius: 3px;
        text-align: start;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      .card-left {
        width: 400px;
      }

      .card-right {
        padding: 24px;
      }

      .card-icon {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin-right: 16px;
      }

      .card-album-title {
        font-size: 2em;
      }

      #logo1 {
        
  position: relative;
  left: 0em;
  width: 100px;
  height: 100px;
      }

      #logo2 {
        width: 180px;
        height: 40px;
      }

      #input1 {
        margin-left: 50em;
        width: 280px;
        height: 27px;
        border-radius: 3em;
      }

      #menu {
        margin-left: 2em;
      }


